button{
    width: 100px;
    border-radius: 10px;
    background-color: rgba(247, 89, 89, 0.692);
    color: aliceblue;
    padding: 10px;
}
button:hover{
    background-color: black;
    color: blueviolet;

}
body:hover{
    background-color: rgb(138, 241, 138);
}